// ==========================================================================
// COLORS
// ==========================================================================

// Base Colors
// --------------------------------------------------------------------------
$white: hsl(0, 0%, 100%);
$white-soft: hsl(0, 0%, 97%);
$white-mute: hsl(0, 0%, 95%);
$black: hsl(0, 0%, 9%);
$black-soft: hsl(0, 0%, 13%);
$black-mute: hsl(0, 0%, 16%);
$indigo: hsl(210, 29%, 24%);

// Brand Colors
// --------------------------------------------------------------------------
$primary: hsl(211, 100%, 50%);
$primary-hover: hsl(211, 100%, 35%);
$danger: hsl(354, 70%, 54%);
$success: hsl(134, 61%, 41%);
$warning: hsl(45, 100%, 51%);
$info: hsl(188, 78%, 41%);

// Neutral Colors
// --------------------------------------------------------------------------
$gray-100: hsl(210, 17%, 98%);
$gray-200: hsl(210, 16%, 93%);
$gray-300: hsl(210, 14%, 89%);
$gray-400: hsl(210, 14%, 83%);
$gray-500: hsl(210, 11%, 71%);
$gray-600: hsl(208, 7%, 46%);
$gray-700: hsl(210, 9%, 31%);
$gray-800: hsl(210, 10%, 23%);
$gray-900: hsl(210, 11%, 15%);

// Text Colors
// --------------------------------------------------------------------------
$text-primary: $indigo;
$text-secondary: rgba(60, 60, 60, 0.66);
$text-muted: $gray-600;
$text-light: $white;

// Background Colors
// --------------------------------------------------------------------------
$bg-primary: $white;
$bg-soft: $white-soft;
$bg-mute: $white-mute;
$bg-light: $gray-100;

// Border Colors
// --------------------------------------------------------------------------
$border-light: hsla(0, 0%, 24%, 0.12);
$border-hover: hsla(0, 0%, 24%, 0.29);
$border-color: hsl(0, 0%, 87%);
