// ==========================================================================
// SPACING
// ==========================================================================

// Base Spacer
// --------------------------------------------------------------------------
$spacer: 1rem;

// Spacer Map
// --------------------------------------------------------------------------
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  // 0.25rem = 4px
  2: (
      $spacer * 0.5,
    ),
  // 0.5rem = 8px
  3: (
      $spacer * 0.75,
    ),
  // 0.75rem = 12px
  4: $spacer,
  // 1rem = 16px
  5: (
      $spacer * 1.5,
    ),
  // 1.5rem = 24px
  6: (
      $spacer * 2,
    ),
  // 2rem = 32px
  7: (
      $spacer * 2.5,
    ),
  // 2.5rem = 40px
  8: (
      $spacer * 3,
    ), // 3rem = 48px
);

// Border Radius
// --------------------------------------------------------------------------
$border-radius-sm: 4px;
$border-radius: 8px;
$border-radius-lg: 12px;
